<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add new department</h2>
    </div>
    <div class="panel-body">
        <ng-form name="departmentAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <label>Department Name: </label>

                    <div class="form-group" ng-class="{ 'has-error': departmentAddForm.departmentTitle.$invalid }">
                        <input type="text" ng-model="department.departmentName" required class="form-control"/>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label>City:</label>

                    <div class="form-group" ng-class="{ 'has-error': departmentAddForm.locationId.city.$invalid }">
                        <input type="text" ng-model="department.locationId.city" required class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Postal Code:</label>

                    <div class="form-group"
                         ng-class="{ 'has-error': departmentAddForm.locationId.postalCode.$invalid }">
                        <input type="number" ng-model="department.locationId.postalCode" required class="form-control"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label>State Province:</label>

                    <div class="form-group" ng-class="{ 'has-error': departmentAddForm.locationId.stateProvince }">
                        <input type="text" ng-model="department.locationId.stateProvince" required
                               class="form-control"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <label>Street Address:</label>

                    <div class="form-group" ng-class="{'has-error':departmentAddForm.locationId.streetAddress}">
                        <input type="text" ng-model="department.locationId.streetAddress" required
                               class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="container">

                        <button class="btn btn-default" ng-click="reset()">Reset</button>
                        <button class="btn btn-default" ng-click="create(department)">Save</button>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>